<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
        <section class=" div-cart main-productCart">
            <div class="titleCart" id="div-one">
                <p>Mi Carrito</p>
            </div>
            <div class="up-productsCart">
                <article class="product">
                    <div class="product-info">
                      <img src="../images/productsTemplate/ipad-apple-product.jpg" alt="" class="img-productCart">
                      <div class="textProduct">
                        <p class="titleProduct">Ipad Apple</p>
                        <p class="priceProduct">$150.000</p>
                      </div>
                    </div>
                    <div class="product-actions">
                      <div class="quantity">
                        <button class="qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" value="1" min="1" max="10" readonly>
                        <button class="qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                      </div>
                      <button class="delete-btn"><i class="removeProduct fa-solid fa-trash-can"></i></button>
                    </div>
                  </article>
                  
                <article class="product">
                    <div class="product-info">
                      <img src="../images/productsTemplate/play-5-product.png" alt="" class="img-productCart">
                      <div class="textProduct">
                        <p class="titleProduct">Sony - Play Station 5</p>
                        <p class="priceProduct">$390.000</p>
                      </div>
                    </div>
                    <div class="product-actions">
                      <div class="quantity">
                        <button class="qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" value="1" min="1" max="10" readonly>
                        <button class="qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                      </div>
                      <button class="delete-btn"><i class="removeProduct fa-solid fa-trash-can"></i></button>
                    </div>
                  </article>
                  
                <article class="product">
                    <div class="product-info">
                      <img src="../images/productsTemplate/jbl-flip-6-product.jpg" alt="" class="img-productCart">
                      <div class="textProduct">
                        <p class="titleProduct">Parlante JBL Flip 6</p>
                        <p class="priceProduct">$98.000</p>
                      </div>
                    </div>
                    <div class="product-actions">
                      <div class="quantity">
                        <button class="qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" value="1" min="1" max="10" readonly>
                        <button class="qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                      </div>
                      <button class="delete-btn"><i class="removeProduct fa-solid fa-trash-can"></i></button>
                    </div>
                  </article>
                  
            </div>
            <div class="div-cart">
                <p class="text-downCart">Total: $638.000,00</p>
                <p class="text-downCart">Descuento: $0,00</p>
                <div class="discount-code">
                    <label for="discount-code">Código de descuento:</label>
                    <input type="text" id="discount-code" name="discount-code" placeholder="XXXX-XXXX-XXXX-XXXX">
                    <button class="discount-code-btn">Aplicar</button>
                  </div>
                <button class="buttton-check-cart" >PAGAR <i class="fa-solid fa-check-to-slot"></i></button>
            </div>
        </section>


    <%- include("../partials/footer") %>
</body>
</html>