<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>

    <main>
        TBA
    </main>

    <%- include("../partials/footer") %>
</body>
</html> 