<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: title, stylesheet: stylesheet}) %>

<body>
    <%- include("../partials/header") %>
        <section class=" div-cart main-productCart">
            <div class="titleCart" id="div-one">
                <p>Mi Carrito</p>
            </div>
            <div class="up-productsCart">
                <article class="product">
                    <img src="../images/ipadApple.jpg" alt="" class="img-productCart">
                    <div class="textProduct">
                    <p class="titleProduct">Ipad Apple</p>
                    <p class="priceProduct">$150.000</p>
                </div><!-- <button> --><i class="fa-solid fa-trash-can icons"></i><!-- </button> -->
                </article>
                <article class="product">
                    <img src="../images/ipadApple.jpg" alt="" class="img-productCart">
                    <div class="textProduct">
                    <p class="titleProduct">Ipad Apple</p>
                    <p class="priceProduct">$150.000</p>
                </div><!-- <button> --><i class="fa-solid fa-trash-can icons"></i><!-- </button> -->
                </article>
                <article class="product">
                    <img src="../images/ipadApple.jpg" alt="" class="img-productCart">
                    <div class="textProduct">
                    <p class="titleProduct">Ipad Apple</p>
                    <p class="priceProduct">$150.000</p>
                 </div><!-- <button> --><i class="fa-solid fa-trash-can icons"></i><!-- </button> -->
                </article>
            </div>
            <div class="div-cart down-productsCart">
                <p class="text-downCart">Total: $#####</p>
                <p class="text-downCart">Descuento: $###</p>
                <button class="buttton-check-cart" >PAGAR <i class="fa-solid fa-check-to-slot"></i></button>
            </div>
        </section>
    <%- include("../partials/footer") %>
</body>
</html>