<footer>
    <section class="social">
        <nav>
            <ul class="social-menu">
                <li><img class="header-logo"></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </nav>
    </section>
    <section class="offices">
        <h2>Sucursales</h2>
        <nav>
            <ul class="offices-list">
                <li><a href="#">CABA</a></li>
                <li><a href="#">Pilar</a></li>
                <li><a href="#">Palermo</a></li>
                <li><a href="#">Unicenter</a></li>
            </ul>
        </nav>
    </section>
    <section class="about-us">
        <h2>Sobre Nosotros</h2>
        <nav>
            <ul class="about-us-list">
                <li><a href="#">Quiénes Somos</a></li>
                <li><a href="#">Trabajá con Nosotros</a></li>
                <li><a href="#">Regalos Empresariales</a></li>
                <li><a href="#">Ventas Coorporativas</a></li>
            </ul>
        </nav>
    </section>
    <section class="contact">
        <h2>Contacto</h2>
        <nav>
            <ul class="contact-list">
                <li>Teléfono: 4777-7777</li>
                <li>Email: help@todotecno.com.ar</li>
                <li><a href="#">Garantías</a></li>
                <li><a href="#">Servicio Técnico</a></li>
                <li><a href="#">Envío a Domicilio</a></li>
            </ul>
        </nav>
    </section>
</footer>