<footer>
    <section class="social">
        <nav>
            <ul class="social-menu">
                <li><img class="header-logo"></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </nav>
    </section>
    <section class="offices"></section>
    <section class="about-us"></section>
    <section class="contact"></section>
</footer>