<footer>
    <section class="social">
        <nav>
            <ul class="social-menu">
                <li><img class="header-logo"></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </nav>
    </section>
    <section class="offices">
        <h2>Sucursales</h2>
        <nav>
            <ul class="offices-list">
                <li><a href="#">CABA</a></li>
                <li><a href="#">Pilar</a></li>
                <li><a href="#">Palermo</a></li>
                <li><a href="#">Unicenter</a></li>
            </ul>
        </nav>
    </section>
    <section class="about-us"></section>
    <section class="contact"></section>
</footer>