<header>
    <div class="hamburger-container">
        <a class="hamburger-button" tabindex="-0">
            <i class="fa-solid fa-bars"></i><label>Categorías</label>            
        </a>
        <aside class="menu-container">
            <div class="close-menu"><i class="fa-solid fa-xmark close-button"></i></div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Tv, Audio y Video</a></li>
                    <li><a href="#">Celulares, Notebooks y Tecnología</a></li>
                    <li><a href="#">Electrodomésticos y Aires Ac.</a></li>
                    <li><a href="#">Hogar, Muebles y Jardín</a></li>
                    <li><a href="#">Salud, Belleza y Fitness</a></li>
                    <li><a href="#">Bebés y Niños</a></li>
                    <li><a href="#">Más Categorías</a></li>                     
                </ul>
            </nav>
        </aside>        
    </div>
    <div class="logo-container">
        <a href="/">
            <img class="header-logo">
        </a>
    </div>
    <div class="user-container">
        <a href="/login" class="user-button">
            <i class="fa-solid fa-user"></i><label class="user-label">Mi Cuenta</label>
        </a>
    </div>
    <div class="cart-container">
        <a href="/productCart" class="cart-button">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
    <div class="search-bar-container">
        <form action="#" method="GET">
            <input type="text" class="search-bar" placeholder="Busca tu producto">
            <div class="submit"><i class="fa fa-search"></i></div>
        </form> 
    </div>    
</header>