<header>
    <div class="hamburger-container">
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <div class="logo-container">
        <a href="/">
            <img class="header-logo" src="/images/logo-no-background.png">
        </a>
    </div>
    <div class="user-container">
        <a href="/register" class="user-button">
            <i class="fa-solid fa-user"></i><label>Mi Cuenta</label>
        </a>
    </div>
    <div class="cart-container">
        <a href="/productCart" class="cart-button">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
    <div class="search-bar-container">
        <form action="#" method="GET">
            <input type="text" class="search-bar" placeholder="Busca tu producto">
            <div class="submit"><i class="fa fa-search"></i></div>
        </form> 
    </div>
</header>