<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/login.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    
    <script type="module" src="/js/headerFooterLoader.js"></script>
    
</head>
<body>
    <my-header></my-header>

    <main>
        <div class="global-login">
        <form action="/" method="get">
        
            <div class="login">
                <h2>Clientes Registrados</h2>
                <p>Si tiene una cuenta, inicie sesión con su dirección de correo electrónico</p>
                <h5>Correo electronico<p>*</p></h5>
                <input class="buttom" type="text" name="nombre de usuario" placeholder="nombre de usuario" required>
                <br>
                
                <h5>Contraseña <p>*</p></h5>
                <br>
                <h5><p>Campos requeridos *</p></h5>
                <br>
                <input class="buttom" type="password" name="contraseña" placeholder="ingresa tu contraseña" required>
                <br>
                <div>
                     <button href="/index"    class="btn-submit" type="submit">Iniciar sesion</button>
                    <br>
                    <br>
                     <a href="#" class="forget-pass" type="submit">¿Olvidaste tu contraseña?</a>
                </div>
                
            </div>
        </form>
            <div>   
                <h2>Nuevos Clientes</h2>        
                
                <p>Crear cuenta tiene muchos beneficion: Paga más rapido, puede guardar mas de una dirección, seguimiento de pedidos, descuentos exclusivos y mucho más.</p>
                <button href="/register"    class="btn-register" type="submit">Crear Cuenta</button>
            </div>
        </div>
    </main>

    <my-footer></my-footer>
</body>
</html>
