<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/login.css">

    <script type="module" src="/js/headerFooterLoader.js"></script>
    
</head>
<body>
    <my-header></my-header>

    <main>
        <form action="/" method="get">
            <div class="login">
                <input class="buttom" type="text" name="nombre de usuario" placeholder="nombre de usuario" required>
                <br>
                <input class="buttom" type="password" name="contraseña" placeholder="contraseña" required>
                <br>
                <button href="/index"    class="submit" type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <my-footer></my-footer>
</body>
</html>