<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/productCart.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <script type="module" src="/js/headerFooterLoader.js"></script>
    
</head>
<body>
    <my-header></my-header>
        <section class=" div-cart main-productCart">
            <div class="titleCart" id="div-one">
                <p>Mi Carrito</p>
            </div>
            <div class="up-productsCart">
                <article class="product">
                    <img src="images/ipadApple.jpg" alt="">
                    <div class="textProduct">
                    <p class="titleProduct">Ipad Apple</p>
                    <p class="priceProduct">$150.000</p>
                </div><!-- <button> --><i class="fa-solid fa-trash-can icons"></i><!-- </button> -->
                </article>
                <article class="product">
                    <img src="images/ipadApple.jpg" alt="">
                    <div class="textProduct">
                    <p class="titleProduct">Ipad Apple</p>
                    <p class="priceProduct">$150.000</p>
                </div><!-- <button> --><i class="fa-solid fa-trash-can icons"></i><!-- </button> -->
                </article>
                <article class="product">
                    <img src="images/ipadApple.jpg" alt="">
                    <div class="textProduct">
                    <p class="titleProduct">Ipad Apple</p>
                    <p class="priceProduct">$150.000</p>
                 </div><!-- <button> --><i class="fa-solid fa-trash-can icons"></i><!-- </button> -->
                </article>
            </div>
            <div class="div-cart down-productsCart">
                <p class="text-downCart">Total: $#####</p>
                <p class="text-downCart">Descuento: $###</p>
            </div>
        </section>
    <my-footer></my-footer>
</body>
</html>