<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-footer.css"> 
    <link rel="stylesheet" href="/css/register.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    
    <script type="module" src="/js/headerFooterLoader.js"></script>
    
</head>
<body>
    <my-header></my-header>

    <main class="main-register"><form action="/" method="get">
        <h2>Clientes Registrados</h2>
        <div class="register">
            <br>
           <input  type="text" name="" placeholder="Nombre y apellido" >
           <br>
           <input  type="text" name="" placeholder="nombre de usuario" >
           <br>
           <input  type="date" name="" placeholder="Fecha de nacimiento" >
           <br>
           <input  type="text" name="" placeholder="Domicilio" >
           <br>
           <fieldset class="comprarVender">
                <legend>Perfil de Usuario</legend>
                <br>
                <label for="perfilUsuario">
                    <input  type="radio" name="perfilUsuario" placeholder="Perfil de usuario comprar o vender" required id="perfilUsuario">Comprar
                 </label>
                 <label for="perfilUsuario">
                    <input  type="radio" name="perfilUsuario" placeholder="Perfil de usuario comprar o vender" required id="perfilUsuario">Vender
                 </label>
            </fieldset>
           <br>
             <fieldset class="intereses">
                 <legend>Categorías de interés</legend>
                 <br>
                 <input  type="checkbox" name="categorias" placeholder="categorias"  id="Electro"> Electro
            <br>
                <input  type="checkbox" name="categorias" placeholder="categorias"  id="Moda"> Moda
            <br>
                <input  type="checkbox" name="categorias" placeholder="categorias"  id="Hogar"> Hogar
            <br>
                <input  type="checkbox" name="categorias" placeholder="categorias"  id="Jugueteria"> Jugueteria
            <br>
                <input  type="checkbox" name="categorias" placeholder="categorias"  id="vidaSana"> Vida Sana
            </fieldset>
           <br>
           <input  type="file" name="" placeholder="foto de usuario" >
           <br>
           <input  type="password" name="" placeholder="contraseña" >
           <br>
           <input  type="password" name="" placeholder="confirmar contraseña" >           
           <br>
           <button href="#"  class="reset" >Borrar</button>
           <br>
           <br>
           <button href="/index" class="submit" type="submit">Enviar</button>
        </div>

    </form>
    </main>
     

    <my-footer></my-footer>
</body>
</html>