header {
    display: grid;
    padding: 0.6em 1em;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 
    "hamburger logo user cart"
    "search search search search";
    align-items: center;
}

.hamburguer-container {
    grid-area: hamburguer;
}

.logo-container {
    grid-area: logo;
}

.user-container {
    grid-area: user;
}

.cart-container {
    grid-area: cart;
}

.search-bar-container {
    grid-area: search;    
}

.search-bar-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-bar-container form input{
    width: 100%;
}

.header-logo {
    width: 100px;
}

.hamburguer-button i{
    background-color: black;
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.user-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-button i, .cart-button i{
    color: black;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button i{
    justify-content: end;
}

.user-button i{
    width: auto;
    padding-right: 5px;
}



.user-button label {
    font-size: 16px;
}
