header {
    display: grid;
    padding: 0.6em 1em;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 
    "hamburger logo user cart"
    "search search search search";
}

header, footer {
    background-color: white;
}

.hamburger-container {
    grid-area: hamburger;
    padding-right: 10px;
}

.quick-menu-container ul{
    grid-area: quick-menu;
    display: none;
}

.hamburger-container label{
    display: none;
}

.logo-container {
    grid-area: logo;
}

.user-container {
    grid-area: user;
}

.cart-container {
    grid-area: cart;
}

.search-bar-container {
    grid-area: search;    
}

.header-logo {
    content:url("/images/logo-mobile.png");
    width: 50px;
}

.search-bar-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-bar-container form input{
    width: 100%;
}

.hamburger-button i{
    background-color: black;
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.user-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-label{
    display: none;
}

.user-button i, .cart-button i{
    color: black;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button i{
    justify-content: end;
}

.user-button i{
    width: auto;
    padding-right: 5px;
}

.user-button label{
    cursor: pointer;
    font-size: 16px;
}

.menu-container {
    position: absolute;
    background-color: white;
    width: 100vw;    
    z-index: 100;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: none;
    padding-left: 10px;
    
}

.menu-container ul, .quick-menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 360px){
    .hamburger-button:focus +.menu-container{
        display: block;
    }
}


.menu-container .close-menu{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.close-button {
    font-size: 25px;
}

.menu-container .menu {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}






@media (min-width: 361px){
    header {        
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: 
        "logo search user cart"
        "hamburger quick-menu quick-menu quick-menu";
        align-items: center;
    }

    .hamburger-container, .hamburger-button {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .hamburger-container{
        position: relative;
    }

    .menu-container {
        top: 50px;
        left: 0px;
        height: 300px;
        width: 300px;
        padding-bottom: 10px;
        padding-top: 10px;        
    }

    .menu-container .close-menu{
        display: none;
    }

    .hamburger-button:hover +.menu-container, .menu-container:hover{
        display: block;
    }

    .hamburger-button {
        gap: 10px;
    }

    .hamburger-button label{
        display: inline-block;
        cursor: pointer;
    }
    
    .quick-menu-container ul{
        display: flex;
        gap: 10px;
    }

    
    .logo-container{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .header-logo {
        content:url("/images/logo-tablet.png");
        width: 100px;
    }

    .user-label {
        display: inline;
    }

    .search-bar-container{
        padding: 0 10px;
        max-width: 500px;
        margin: auto;
    }

    

    @media (min-width: 600px) {
        .search-bar-container form input {
            width: 50vw;
        }
    }

    @media (min-width: 769px) {
        .header-logo {
            content:url("/images/logo-desktop.png");
            width: 150px;
        }
    }

}

/*Estilos del Footer*/

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "social"
    "offices"
    "about-us"
    "contact";
}

.social{
    grid-area: social;
}

.offices{
    grid-area: offices;
}

.about-us{
    grid-area: about-us;
}

.contact{
    grid-area: contact;
}

.social-menu, .offices, .about-us, .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.offices, .about-us, .contact{
    flex-wrap: wrap;
}

.offices h2, .offices-list li, .about-us h2, .about-us-list li, .contact h2, .contact-list li{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
