
.main-login{
    margin: 25px;
    display: grid;
    padding: 1em 1em;
    justify-content: center;

}


.main-login form{
    display: grid;
    max-width: 450px;
}

.button{
    width: 100%;
}

.btn-google {
  border: none;
  width: 20%;
  border-radius: 50%;
  background-color: white;
  padding: 25px;
  
} .btn-facebook {
  border: none;
  width: 20%;
  border-radius: 50%;
  background-color: white;
  padding: 27px;
} .login-gf {
  margin: 10px 0px;
  text-align: center;
}

.btn-google:hover {
  border: 2px rgb(224, 107, 72) solid;
  transform: rotate(-15deg);
} .btn-facebook:hover {
  border: 2px rgb(72, 74, 224) solid;
  transform: rotate(-15deg);
}

 .new-register{
    display:grid;
    max-width: 450px;
  
  }

.new-register h2,
.login h2 {
    width: 100%;
    border-bottom: 2px solid black;
    }

main .login .btn-submit{
    width: 100%;
    }



 .required-fields {
    display: grid;
    justify-content:start;
    color: red;
    padding-left: 15px;
    max-width: 450px;
}


@media (min-width: 769px) {
    .main-login {
      display: grid;
      height: 100vh;
      
    }
    
    .form-login {
      display: grid;
      grid-template-columns: 1fr;
      justify-self: start;
    }
    
    .new-login {
      grid-template-columns: 1fr;
      justify-self: end;
    }

    .new-register{
        display:grid;
        padding: 10px;
        max-width: 450px;
        max-height: 200px;
       
      }
      .required-fields{
        display: grid;
        align-items: center;

      }
  }
    
  .input{
    width: 100%;
  }