
.main-login{
    display: grid;
    padding: 1em 1em;
    justify-content: center;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
   
}
main div .login{
    display:grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main-login form{
    display: grid;
    grid-gap: 5px;
    max-width: 450px;
}

.button{
    width: 100%;
}
.login{
   padding: 10px;
}
 .new-register{
    display:grid;
    padding: 10px;
    max-width: 450px;
  
  }

.new-register h2,
.login h2 {
    width: 100%;
    border-bottom: 2px solid black;
    }

main .login .btn-submit{
    width: 100%;
    }

main .login .btn-submit:hover,
main .btn-register:hover{
    background-color:var(--botonesHover);
    color: #fff;
}

 .required-fields {
    display: grid;
    justify-content:start;
    color: red;
    padding-left: 15px;
    max-width: 450px;
}


@media (min-width: 769px) {
    .main-login {
      display: grid;
      height: 100vh;
      
    }
    
    .form-login {
      display: grid;
      grid-template-columns: 1fr;
      justify-self: start;
    }
    
    .new-login {
      grid-template-columns: 1fr;
      justify-self: end;
    }

    .new-register{
        display:grid;
        padding: 10px;
        max-width: 450px;
        max-height: 200px;
       
      }
      .required-fields{
        display: grid;
        align-items: center;

      }
  }
    