/*
.products-wrapper { 
  margin-top: 30px;
  margin-bottom: 30px;    
}
*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
/*


.product_img {
    width: 100%;
    mix-blend-mode: multiply;
}
.main-article{
    padding: 15px;
}

.home-image{
    padding: 10px;
}

.discount{
    color: red;
}

.product-container_search {
    background-color: white;
    width: 95%;
    max-height: 450px;
    padding: 15px;
}

.product-search_img{
  width: 100%;

}

.product-container_search:hover{
    box-shadow: 2px 2px 2px 2px var(--gris);
}


@media (min-width: 390px) {

  .product-container_search {
    width: 45%;
}

}
@media (min-width: 769px) {
  .container-products {
    width: 22%;
}


}
*/
/*=====Filtros=======*/
/*.grid-area.aggregations {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  height: 100vw;
}

.grid-area.aggregations .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-area.aggregations .filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*esto esta OK*/
  /*.filters {
    flex-basis: 25%;
    padding: 20px;
    height: 100vw;
  }
  
  .productList-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
*/

/*====== Products ======*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}



.product_img {
    width: 100%;
    mix-blend-mode: multiply;
}
.main-article{
    padding: 15px;
}

.home-image{
    padding: 10px;
}

.discount{
    color: red;
}

.product-container_search {
    background-color: white;
    width: 95%;
    max-height: 450px;
    padding: 15px;
}

.product-search_img{
  width: 100%;

}

.product-container_search:hover{
    box-shadow: 2px 2px 2px 2px var(--gris);
}


@media (min-width: 390px) {

  .product-container_search {
    width: 45%;
}

}
@media (min-width: 769px) {
  .productList-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .product-box {
    width: 22%;
}

}
