

.main-product-create form{
    width: 100%;
    display: grid;
    justify-content: center;
}

.main-product-create form h1{
   padding-left: 15px;
}


.product-create{
    width: 80%;
    display: grid;
    align-items: center;
    padding: 10px;
   
}
.create-edite-img{
    padding: 5px;
}
#image{
    width: 100%;
}

.product-create-btn{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    padding: 5px;
}
.product-create-btn button{
    padding: 10px;
    border-radius: 2em;
}


@media (min-width: 769px) {
    .product-create{
      width: 450px;
    }
  
}


