

.products-title{
  padding-top: 25px;
}


/*seccion filtros*/

.filters{
  display: flex;
  align-items: center;
  padding: 10px;
}

.filter-list{
  display: none;
}

/*secciones de productos*/
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(95%, 1fr));
  align-items: center;
  gap: 10px;
}
article{
  display: inline-block;
}


.product_img {
  width: 100%;
  mix-blend-mode: multiply;
}
.main-article{
  display: inline-block;
  padding: 15px;
}

.home-image{
  padding: 10px;
}

.discount{
  color: var(--discountColor);
}

.price {
  color: gray;
  text-decoration: line-through;
}

.price-discount {
  color: var(--verdeOscuro);
  font-size: 25px;
}

.cont-product {
  background-color: white;
  max-height: 450px;
}

.cont-product article:hover{
  box-shadow: 2px 2px 2px 2px var(--gris);
}





@media (min-width: 390px) {

    .products{
          grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      }
  
      .products {
          width: 95%; /* ajusta al ancho deseado */
      }
      .cont-product{
          min-height: 315px;
          max-width: 412px;
      }

 
}
@media (min-width: 769px) {
 
  .products {
          grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
      }


  .productList-main{

    display: grid;
    grid-template-columns: 25% 70%
   
  }

  .products-box{
    display: grid;
    grid-template-rows: 1fr 8fr;
  }
  .filters{
    align-items: start;
  }  
.filter-list{
  display: block;
}

  }



