article {
    padding: 15px 0;
    border-bottom: 1px solid black; 
    display: grid;
}

.titleCart {
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px;
}

.up-productsCart {
    margin: 10px 0;
}

img {
    padding: 15px 0px;
    grid-column: 1;
}

img {
    width: 100px;
}

.textProduct {
    grid-column: 4;
}

.titleCart,
.text-downCart {
    text-align: center;
}

.icons {
    grid-column: 6;
    font-size: 25px;
    color: var(--gris);
} .icons:hover {
    color: red;
}