.main-productDetail{
    display: grid;
    padding: 10px 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav-bar"
    "picture"
    "prod-main-info"
    "send-info"
    "recomendations"
    "characteristics";
    gap: 10px;
    align-items: center;
}

.nav-bar{
    grid-area: nav-bar;
}
.picture{
    grid-area: picture;
}
.prod-main-info{
    grid-area: prod-main-info;
}
.send-info{
    grid-area: send-info;
}
.recomendations{
    grid-area: recomendations;
}
.characteristics{
    grid-area: characteristics;
}

.nav-bar ul{
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-left: 10px;
}
.nav-bar-separator{
    color:gray;
}

.picture, .prod-main-info, .send-info, .recomendations, .characteristics{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.product-picture{
    content:url("/images/products/neoQled8k-01.jpg");
    width: 300px;
    mix-blend-mode: multiply; /*fondo blanco se hace transparente*/
}

.prod-main-info, .send-info{
    flex-wrap: wrap;
}
.prod-main-info h3, .prod-main-info label, .send-info label{
    width: 100%;
    text-align: center;
    
}
.prod-main-info .price{    
    color: green;
}
.prod-main-info label, .send-info label{
    text-align: left;
    padding-left: 10vw;
}
.send-info{
    border-top: 1px solid black;
    padding-top: 10px;   
    border-bottom:  1px solid black;
    padding-bottom: 10px;
}
.send-info label a{
    color: blue;
}