.main-productDetail{
    display: grid;
    padding: 10px 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav-bar"
    "picture"
    "prod-main-info"
    "send-info"
    "recomendations"
    "characteristics";
    gap: 10px;
    align-items: center;
}

.nav-bar{
    grid-area: nav-bar;
}
.picture{
    grid-area: picture;
}
.prod-main-info{
    grid-area: prod-main-info;
}
.send-info{
    grid-area: send-info;
}
.recomendations{
    grid-area: recomendations;
}
.characteristics{
    grid-area: characteristics;
}

.nav-bar ul{
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-left: 10px;
}
.nav-bar-item{
    cursor: pointer;
}
.nav-bar-separator{
    color:var(--gris);
}

.picture, .prod-main-info, .send-info, .characteristics{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.product-picture{
    /*content:url("/images/products/neoQled8k-01.jpg");*/
    width: 300px;
    mix-blend-mode: multiply; /*fondo blanco se hace transparente*/
}

.prod-main-info, .send-info{
    flex-wrap: wrap;
}
.prod-main-info h3, .prod-main-info label, .send-info label{
    width: 100%;
    text-align: center;
    
}
.prod-main-info .price{    
    color: var(--verdeOscuro);
}
.prod-main-info label, .send-info label{
    text-align: left;
    padding-left: 10vw;
}
.send-info{
    border-top: 1px solid black;
    padding-top: 10px;   
    border-bottom:  1px solid black;
    padding-bottom: 10px;
}
.send-info label a{
    color: var(--azul);
}

.recomendations{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "recomend-title recomend-title"
    "recomendation-1 recomendation-2";
    align-items: center;
    column-gap: auto;
    row-gap: 10px;
}
.recomend-title{
    grid-area: recomend-title;
    text-align: center;
}
.recomendation-1{
    grid-area: recomendation-1;
}
.recomendation-2{
    grid-area: recomendation-2;
}
.recomendation-1, .recomendation-2{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
    justify-self: center;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
}
.recomendation-1-pic{
    content:url("/images/products/soundbar-nakamichi.jpg");
    width: 100px;
    mix-blend-mode: multiply;
}
.recomendation-2-pic{
    content:url("/images/products/soporte-tv.png");
    width: 100px;
    mix-blend-mode: multiply;
}
.recomendation-1-pic, .recomendation-2-pic{
    cursor: pointer;
}

.recomendations h5{
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
}

.recomendations .recomend-price{
    color: var(--verdeOscuro);
    text-align: center;
}

.characteristics{
    flex-wrap: wrap;
    max-width: 500px;
    justify-self: center;
}
.characteristics h3, .characteristics article{
    width: 100%;
    text-align: center;
}

.characteristics article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.drop-button .fa-caret-up{
    display: none;
}

.info{
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 275ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.characteristics article:focus .drop-button .fa-caret-up, .characteristics article:focus .drop-button +.info{
    height: auto;
    visibility: visible;
    opacity: 1;
}

.characteristics article:focus .drop-button .fa-caret-down{
    height: 0;
    visibility: hidden;
    opacity: 0;
}