article {
    padding: 15px 0;
    border-bottom: 1px solid black; 
    display: grid;
}

.titleCart {
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px;
}

.up-productsCart {
    margin: 10px 0;
}

img {
    padding: 15px 0px;
    grid-column: 1;
}

img {
    width: 100px;
}

.textProduct {
    grid-column: 4;
}

.titleCart,
.text-downCart {
    text-align: center;
}
.text-downCart {
    font-weight: 500;
}

.icons {
    grid-column: 6;
    font-size: 25px;
    color: var(--gris);
} .icons:hover {
    color: red;
}

.buttton-check-cart {
    display: block;
    margin: auto;
    font-size: 20px;
  padding: 10px 20px;
  border-radius: 15%;
  box-shadow: 5px 5px 0px 0px rgb(0, 0, 0, 0.5);
  margin-bottom: 15px;
  margin-top: 15px;
} .buttton-check-cart:hover {
    background-color: green;
    color: white;
}

@media (min-width: 769px) {
}