main,
.personal-infomation{
    display: grid;
    gap: 3px;
    justify-items: center;
    justify-content: center;
}

.profile-avatar-container{
    width: 150px;
    height: 150px;
}

.profile-avatar-img{
    width: 100%;
    mix-blend-mode: multiply;
}
.btnlogout,
main button{
    width: 100%;
}

.btn-profile:hover{
    background-color:var(--botonesHover);
    color: #fff;
}