.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.profile-avatar-container {
  margin-bottom: 20px;
}

.profile-avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-name {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
}

.profile-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  margin-left: 5px;
}


.edit-profile {
  align-items: center;
  border: none;
  background-color: rgb(82, 165, 82);
  color: white;
  padding: 10px;
  border-radius: 10%;

} .logout-profile {
  border: none;
  background-color: rgb(192, 81, 81);
  color: white;
  padding: 10px;
  border-radius: 10%;

  margin-top: 5px;
  margin-bottom: 5px;
} .admin-panel {
  border: none;
  background-color: rgb(233, 174, 66);
  color: white;
  padding: 10px;
  border-radius: 10%;

}

@media (max-width: 390px) {
  .buttons {
    text-align: center;
  }
  .edit-profile {
    width: 30%;
  } .logout-profile {
    width: 30%;
  } .admin-panel {
    width: 40%;
  }
}

@media (min-width: 390px) {
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  } .edit-profile {
    margin: 0px 10px;
  }
}