.main-register{
    width: 100%;
    display: grid;
    padding: 1em 1em;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    justify-content: center;    
}

main .register{
    display: grid;
    grid-gap: 5px;
}

.main-register form{
    display: grid;
    grid-gap: 5px;
    max-width: 450px;
}
fieldset label{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-register h2{
width: 100%; 
display: grid;
justify-items: center;
justify-content: start;
border-bottom: 2px solid black;
}

main .register input{
    display: grid;
    justify-content: center;
    width: 100%;
}

main .register .btn-envio{
    display: grid;
    justify-content: right;
    width: auto
}

main .register h5{
    display: grid;
    justify-content: left;
    width: auto,
}
main .reset,
main .submit{
    width: 100%;
    border-radius: 2em;
    grid-gap: 10px;
}

.select-shipping{
    display: grid;
    grid-row-gap:5px;
}

main div .reset:hover, 
main div .submit:hover {
background-color: rgb(156, 70, 236);
color:white;
}

main div .reset,
main div .submit {
    color: black;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0, 0.5);
    padding: 5px;
    width: 100%;
    border-radius: 2em;
}



 @media (min-width: 769px) {
       main .register{
        width: 450px;
        display: grid;
        grid-gap: 10px;
    }
  
}

