/*====== Products ======*/
.products-wrapper { 
    margin-top: 30px;
    margin-bottom: 30px;    
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

  .product-container_search{
    box-sizing: border-box;
    padding: 5px ;
  }

  .product-container_search :hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

.product-search{
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
}

.product-search_data,
.product-search_img{
  width: 300px;
  mix-blend-mode: multiply;
}
  .product-search_data p{
    display: grid;
    width: auto ;
    
}
@media (min-width: 769px){
  .product-container_search{
    width: 22%;
  }
  .product-search_data,
.product-search_img{
  width: 100%;
}
}