/*====== Products ======*/
.products-wrapper { 
  margin-top: 30px;
  margin-bottom: 30px;    
}

.col-12-products-title-container{
  padding: 0 0 30px 30px   ;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}



.product_img {
    width: 100%;
    mix-blend-mode: multiply;
}
.main-article{
    padding: 15px;
}

.home-image{
    padding: 10px;
}

.discount{
    color: var(--discountColor);
}

.price {
  color: gray;
  text-decoration: line-through;
}

.price-discount {
  color: var(--verdeOscuro);
  font-size: 25px;  
}

.product-container_search {
    background-color: white;
    width: 95%;
    padding: 15px;
}

.product-search_img{
  width: 100%;

}

.product-container_search:hover{
    box-shadow: 2px 2px 2px 2px var(--gris);
}


@media (min-width: 390px) {

  .product-container_search {
    width: 45%;
}

}
@media (min-width: 769px) {
  .product-container_search {
    width: 22%;
}

}

