* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #ebebeb;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }