<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/home.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <script type="module" src="/js/headerFooterLoader.js"></script>
    
</head>
<body>
    <my-header></my-header>
    <main>
        <section class="highlighted-offers">
            <h3>Aprovecha las ofertas destacadas</h3>
            <br>
            <div class="products">
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="new-arriwals">
            <br>
            <br>
            <h3>Nuevos ingresos</h3>
            <br>
            <div class="products">
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    

    <my-footer></my-footer>
</body>
</html> 