/* Trunca el texto con ... cuando se llega a 10 líneas*/
.text-truncate-10-lines {
  -webkit-line-clamp: 10;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Introduce un salto de línea en el texto al encontrar \n*/
.WhiteSpace-Pre-Line{
  white-space: pre-line;
}