<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head",{title: title, stylesheet: stylesheet}) %>

<body>
    <%- include("./partials/header") %>
    <main>
        <section class="highlighted-offers">
            <h3>Aprovecha las ofertas destacadas</h3>
            <br>
            <div class="products">
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="new-arriwals">
            <br>
            <br>
            <h3>Nuevos ingresos</h3>
            <br>
            <div class="products">
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    

    <%- include("./partials/footer") %>
</body>
</html> 