<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("./partials/header") %>
    <main>
        <section class="banner">
            <div class="img-banner">
                <img src="images\banner.webp" alt="">
            </div>
            <div class="text-banner">
                <ul class="list-banner">
                    <li class="one-text"><i class="fa-regular fa-credit-card icon-banner"></i> Paga con credito y debito</li>
                    <li class="two-text"><i class="fa-solid fa-percent icon-banner"></i> Descuentos imperdibles</li>
                    <li class="three-text"><i class="fa-solid fa-truck-fast icon-banner"></i> Envio a todo el pais y retiro gratis</li>
                </ul>
            </div>
        </section>
    <section class="categories">
         <div class="sub-categories televisores">
            <div class="div-image-categorie">
                <img src="images\products\tv-smart-product.png" alt="" class="image-c">
            </div>
                <p>Televisores</p>
            </div>
            <div class="sub-categories celulares">
                <div class="div-image-categorie">
                <img src="images\products\iphone-x-product.png" alt="" class="image-c">
                </div>
                <p>Celulares</p>
            </div>
            <div class="sub-categories computadoras">
                <div class="div-image-categorie">
                <img src="images\products\notebook-product.png" alt="" class="image-c">
                </div>
                <p>Computadoras</p>
            </div>
            <div class="sub-categories consolas">
                <div class="div-image-categorie">
                <img src="images\products\play-5-product.png" alt="" class="image-c">
                </div>
                <p>Consolas y mas</p>
            </div>
            <div class="sub-categories climatizacion">
                <div class="div-image-categorie">
                <img src="images\products\aire-acondicionado-product.png" alt="" class="image-c">
                </div>
                <p>Climatizacion</p>
        </div>
    </section>
        <section class="highlighted-offers">
            <h3>Aprovecha las ofertas destacadas</h3>
            <br>
            <div class="products">
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="new-arriwals">
            <br>
            <br>
            <h3>Nuevos ingresos</h3>
            <br>
            <div class="products">
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
                <article>
                    <img src="images\products\neoQled8k-01.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.681.980</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Neo Qled 8k Samsung.jpg"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    

    <%- include("./partials/footer") %>
</body>
</html> 