<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head",{title: "Página no encontrada", stylesheet: "not-found.css"}) %>

<body>
    <%- include("./partials/header") %>
 
<main>
  
<h1>Error 404: La ruta a la que intentas acceder no existe</h1>    

</main>


    <%- include("./partials/footer") %>
</body>
</html>