<label for="avatar" class="form-label">Avatar:</label>
<input class="input"  type="file" id="avatar" name="avatar">
<span class="errors" name="avatar"><%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span>