<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-product-create"><form action="/admin/productCreate" method="POST" enctype="multipart/form-data">
    
<h1>Crear nuevo producto</h1>

    <div class="product-create">
        <%- include("../partials/create-edit-product-inputs") %>        
    </div>

</form>
</main>


    <%- include("../partials/footer") %>
    <script src="/js/productCreate.js"></script>
</body>
</html>