<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: title, stylesheet: stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-product-create"><form action="/" method="get">
    
<h1>Crear nuevo proucto</h1>

    <div class="product-create">
        <h5>Ingresa el nombre del producto</h5>
        <input  type="text" name="" placeholder="ej: Smart TV" required>
        <h5>Marca</h5>
        <input  type="text" name="" placeholder="" required>
        <h5>Modelo</h5>
        <input  type="text" name="" placeholder="" required >
        <h5>Numero de articulo</h5>
        <input  type="text" name="" placeholder="" required >
        <h5>Precio</h5>
        <input  type="text" name="" placeholder="" required >
        <h5>Descuento</h5>
        <input  type="text" name="" placeholder="" required >
        <ul><h5>Caracteristicas</h5>
            <li><input  type="text" name="" placeholder="Sonido" required ></li>
            <li><input  type="text" name="" placeholder="Dimensiones" required ></li>
            <li><input  type="text" name="" placeholder="Modelo y Origen" required ></li>
            <li><input  type="text" name="" placeholder="Color" required ></li>
            <li><input  type="text" name="" placeholder="Resolucion" required ></li>
            <li><input  type="text" name="" placeholder="Incluye" required ></li>
        </ul>
       
        <h5>Imagenes</h5>
        <input  type="file" name="" placeholder="ingresa hasta 10 imagenes" required>           
        <div class="product-create-btn">
             <button href="/productCreate"  class="reset" type="reset">Reiniciar Campos</button>
             <br>
             <button href="/productCreate.ejs" class="submit" type="submit">Crear Producto</button>
            <br>

            
        </div>
    </div>

</form>
</main>


    <%- include("../partials/footer") %>
</body>
</html>