<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-user-create">
    <div>
        <form class="form-container" action="/admin/userCreate" method="POST" enctype="multipart/form-data">
    
        <h1>Crear nuevo usuario</h1>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>

        <label for="correo">Correo electrónico:</label>
        <input type="text" id="correo" name="correo" required>

        <label for="rol">Rol:</label>
        <select id="rol" name="rol" required>
            <option value="">Seleccione un Rol</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>

        <button type="submit">Crear</button>


        </form>
    </div>
</main>


    <%- include("../partials/footer") %>
</body>
</html>