<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main>

    
<h1>Crear nuevo usuario</h1>

 <form action="" method="POST">
    <div>
        <label for="">Nombre</label>
        <input class="input" type="text" name="firstName">
    </div>
    <div>
        <label for="">apellido</label>
        <input class="input" type="text" name="lastName">
    </div>
    <div>
        <label for="">Email</label>
        <input class="input" type="email" name="email">
    </div>
    <div>
        <label for="">Cumpleaños</label>
        <input class="input" type="date" name="birthday">
    </div>
    <div>
        <label for="">Dirección</label>
        <input class="input" type="text" name="address">
    </div>
    <div>
        <label for="">Código Postal</label>
        <input class="input" type="text" name="zipCode">
    </div>
    <div>
        <label for="">Localidad</label>
        <input class="input" type="text" name="location">
    </div>
    <div>
        <label for="">Provincia</label>
        <input class="input" type="text" name="province">
    </div>
    <div class="product-create-btn product-edit-btn">
        <button class="btn-reset" type="reset">Reiniciar Campos</button>
        <br>
        <button class="btn-submit" type="submit">
           Crear Usuario
      </button>
       <br>            
   </div>


 </form>
</main>


    <%- include("../partials/footer") %>
</body>
</html>