<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>
 
<main class="main-user-create">
    <div>
        <form class="form-container" action="/admin/users/create" method="POST" enctype="multipart/form-data">
    
        <h1>Crear nuevo usuario</h1>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="firstName" required>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="lastName" required>

        <label for="correo">Correo electrónico:</label>
        <input type="text" id="correo" name="email" value="" required>

        <label for="correo">Contraseña:</label>
        <input type="password" id="password" name="password" value="" required>

        <label for="rol">Rol:</label>
        <select id="rol" name="roleId" required>
            <option value="">Seleccione un Rol</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>

        <button type="submit">Crear</button>


        </form>
    </div>
</main>


    <%- include("../partials/footer") %>
</body>
</html>