<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head",{title: title, stylesheet: stylesheet}) %>

<body>

    <%- include("../partials/header") %>

    <main class="main-login">
        <button href="#"  class="submit" type="" >Ingresa con Google</button>
           
        <button href="#"  class="submit" type="submit">Ingresa con Facebook</button>
      
          <form class="form-login" action="/" method="get">
            <div class="login">
                <h2>Clientes Registrados</h2>
                <p>Si tiene una cuenta, inicie sesión con su dirección de correo electrónico</p>
                    <br>
            
                <h5>Correo electronico*</h5>
                <input class="button" type="text" name="nombre de usuario" placeholder="nombre de usuario" required>
                    <br>
                    <br>
                <h5>Contraseña*</h5>
               
                <input class="button" type="password" name="contraseña" placeholder="ingresa tu contraseña" required>
             
                <br>
                <br>
                <div>
                     <button href="/index"    class="btn-submit" type="submit">Iniciar sesion</button>
                    <br>
                    <br>
                     <a href="#" class="forget-pass" type="submit">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </form>
        <form class="form-login" action="/users/register" method="get">
            <div class= "new-register">   
                <h2>Nuevos Clientes</h2>        
                
                <p>Crear cuenta tiene muchos beneficion: Paga más rapido, puede guardar mas de una dirección, seguimiento de pedidos, descuentos exclusivos y mucho más.</p>
                <br>
                
                <button href="/views/users/register"  class="btn-register" type="submit">Crear Cuenta</button>
            </div>
        </form>
            <h5 class="required-fields"><p>Campos requeridos *</p></h5>

       
       
        <br>

    </main>

    <%- include("../partials/footer") %>
</body>
</html>
