<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <%- include("../partials/user-info") %>
        <a href="/users/edit-profile"><button class="btn-profile" id="edit-profile-btn">Editar Perfil</button></a>
        <form action="/users/logout" method="POST">
            <button type="submit">Cerrar Sesión</button>
        </form>
        
    </main>

    <%- include("../partials/footer") %>
</body>
</html>