<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head",{title: title, stylesheet: stylesheet}) %>

<body>
    <%- include("../partials/header") %>

    <main class="main-register"><form action="/" method="get">
      
        <button href="#"  class="submit" type="" >
            <img src="/public/images/logo-google.png" alt="">
            Ingresa con Google</button>
           
        <button href="#" class="submit" type="submit">Ingresa con Facebook</button>
      
      <h2>Informacion personal</h2>
        
        <p>Introduzca su datos para crear una cuenta</p>
        
        <div class="register">
            <br>
            <h5>Nombre y apellido</h5>
            <input  type="text" name="" placeholder="" >
            <h5>nombre de usuario</h5>
            <input  type="text" name="" placeholder="" >
            <h5>Fecha de nacimiento</h5>
            <input  type="date" name="" placeholder="" >
            <h5>Domicilio de facturacion</h5>
            <input  type="text" name="" placeholder="" >
            <h5>Codigo postal</h5>
            <input  type="text" name="" placeholder="" >
            <h5>Localidad</h5>
            <input  type="text" name="" placeholder="">
            <h5>Provincia</h5>
            <input  type="text" name="" placeholder="">

           
            <fieldset class="select-shipping">
                <legend>Elija el metodo de envio</legend>
            
                <label for="metodo-envio"><h5>Retirar en el local</h5>
                    <input class="btn-envio" type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                 <label for="metodo-envio"><h5>Envio a domicilio</h5>
                    <input class="btn-envio"  type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                 <label for="metodo-envio"><h5>Retirar en punto de entrega</h5>
                    <input class="btn-envio" type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                </fieldset>

            <h5>Domicilio de entrega</h5>
            <input  type="text" name="" placeholder="">
            <h5>Codigo postal</h5>
            <input  type="text" name="" placeholder="">
            <h5>Localidad</h5>
            <input  type="text" name="" placeholder="">
            <h5>Provincia</h5>
            <input  type="text" name="" placeholder="">
            <h5>Contraseña</h5>
            <input  type="password" name="" placeholder="" >
            <h5>Confirmar contraseña</h5>
            <input  type="password" name="" placeholder="" >           
           
           <button href="#"  class="reset" >Borrar</button>
           
           <button href="/index" class="submit" type="submit">Enviar</button>
        </div>

    </form>
    </main>
     

    <%- include("../partials/footer") %>
</body>
</html>