<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head",{title: head.title, stylesheet: head.stylesheet}) %>

<body>
    <%- include("../partials/header") %>

    <main class="main-register"><form action="/" method="get">
      
        <button href="#"  class="submit" type="" >Ingresa con Google</button>
           
        <button href="#"  class="submit" type="submit">Ingresa con Facebook</button>
      
      <h2>Informacion personal</h2>
        
        <p>Introduzca su datos para crear una cuenta</p>
        
        <div class="register">
            <br>
           <input  type="text" name="" placeholder="Nombre y apellido" >
           
           <input  type="text" name="" placeholder="nombre de usuario" >
           
           <input  type="date" name="" placeholder="Fecha de nacimiento" >
           
           
            <input  type="text" name="" placeholder="Domicilio de facturacion" >
            
            <input  type="text" name="" placeholder="codigo postal" >
            
            <input  type="text" name="" placeholder="localidad">
            
            <input  type="text" name="" placeholder="peovincia" >

           
            <fieldset class="select-shipping">
                <legend>Elija el metodo de envio</legend>
            
                <label for="metodo-envio"><h5>Retirar en el local</h5>
                    <input class="btn-envio" type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                 <label for="metodo-envio"><h5>Envio a domicilio</h5>
                    <input class="btn-envio"  type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                 <label for="metodo-envio"><h5>Retirar en punto de entrega</h5>
                    <input class="btn-envio" type="radio" name="metodoEnvio" placeholder="seleccion del metodo de envio" required id="metodoEnvio">
                 </label>
                </fieldset>

            
            <input  type="text" name="" placeholder="Domicilio de entrega" >
            
            <input  type="text" name="" placeholder="codigo postal" >
            
            <input  type="text" name="" placeholder="localidad">
            
            <input  type="text" name="" placeholder="provincia" >
            

           
           <input  type="password" name="" placeholder="contraseña" >
           
           <input  type="password" name="" placeholder="confirmar contraseña" >           
           
           <button href="#"  class="reset" >Borrar</button>
           
           <button href="/index" class="submit" type="submit">Enviar</button>
        </div>

    </form>
    </main>
     

    <%- include("../partials/footer") %>
</body>
</html>